.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    width: 90%;
    font-family: Helvetica, sans-serif;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    padding: 1rem 2rem;
    border-radius: 100px;
    outline: none;
    border: none;
    transition: all 0.2s;
    margin-right: -3.5rem;

    &:focus {
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      color: var(--color-grey-light-4);
      font-size: 1.5rem;
      font-weight: 100;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    outline: none;
    border: none;
    background-color: transparent;
    transition: all 0.2s;

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

.user-nav {
  height: 100%;
  display: flex;
  align-items: center;

  & > * {
    cursor: pointer;
    padding: 0 2rem;
    height: 100%;

    &:hover {
      background-color: var(--color-grey-light-3);
    }
  }

  &__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: 0.8rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    color: #fff;
    background-color: var(--color-primary);

    position: absolute;
    top: 1.5rem;
    right: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

.side-nav {
  font-size: 1.4rem;
  margin-top: 3.5rem;
  list-style: none;
  display: flex;
  flex-direction: column;

  &--active {
    background-color: var(--color-primary);
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.3rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
    }

    &:hover::before {
      transform: scaleY(1);
      width: 100%;
    }

    &:active::before {
      background-color: var(--color-primary-light);
    }
  }

  &__link {

    & > * {
      z-index: 2;
    }

    &:link,
    &:visited {
      text-decoration: none;
      padding: 1.5rem 3rem;
      color: var(--color-grey-light-1);
      display: flex;
      align-items: center;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-grey-light-1);
    margin-right: 2rem;
  }
}

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;
}
