.logo {
  height: 3.25rem;
  margin-left: 3rem;
}

.search {
  flex: 0 0 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    width: 90%;
    font-family: Helvetica, sans-serif;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    padding: 1rem 2rem;
    border-radius: 100px;
    outline: none;
    border: none;
    transition: all 0.2s;
    margin-right: -3.5rem;

    &:focus {
      width: 100%;
      background-color: var(--color-grey-light-3);
    }

    &::-webkit-input-placeholder {
      color: var(--color-grey-light-4);
      font-size: 1.5rem;
      font-weight: 100;
    }
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;

    outline: none;
    border: none;
    background-color: transparent;
    transition: all 0.2s;

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: var(--color-grey-dark-3);
  }
}

.user-nav {
  height: 100%;
  display: flex;
  align-items: center;

  & > * {
    cursor: pointer;
    padding: 0 2rem;
    height: 100%;

    &:hover {
      background-color: var(--color-grey-light-3);
    }
  }

  &__icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  &__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--color-grey-dark-2);
  }

  &__notification {
    font-size: 0.8rem;
    width: 1.75rem;
    height: 1.75rem;
    border-radius: 50%;
    color: #fff;
    background-color: var(--color-primary);

    position: absolute;
    top: 1.5rem;
    right: 1.2rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

.side-nav {
  font-size: 1.4rem;
  margin-top: 3.5rem;
  list-style: none;
  display: flex;
  flex-direction: column;

  &--active {
    background-color: var(--color-primary);
  }

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.3rem;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 3px;
      background-color: var(--color-primary);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s;
    }

    &:hover::before {
      transform: scaleY(1);
      width: 100%;
    }

    &:active::before {
      background-color: var(--color-primary-light);
    }
  }

  &__link {
    & > * {
      z-index: 2;
    }

    &:link,
    &:visited {
      text-decoration: none;
      padding: 1.5rem 3rem;
      color: var(--color-grey-light-1);
      display: flex;
      align-items: center;
    }
  }

  &__icon {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-grey-light-1);
    margin-right: 2rem;
  }
}

.legal {
  font-size: 1.2rem;
  color: var(--color-grey-light-4);
  text-align: center;
  padding: 2.5rem;
}

.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block;
  }
}

.overview {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-2);

  &__icon--star,
  &__icon--location {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
  }

  &__stars {
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  &__location {
    font-size: 1.2rem;
    padding: 0 2rem;
    display: flex;
    align-items: center;
  }

  &__icon--location {
    margin-right: 0.5rem;
  }

  &__rating {
    padding: 0 2rem;
    align-self: stretch;
    background-color: var(--color-primary);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
    margin-bottom: -3px;
  }

  &__rating-count {
    font-size: 0.8rem;
    text-transform: uppercase;
  }
}

.btn-inline {
  padding: 0 0 2px 0;
  border: none;
  color: var(--color-primary);
  background-color: transparent;
  font-size: inherit;
  font-weight: 700;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  transition: all 0.2s;

  & span {
    margin-left: 3px; 
    transition: all 0.2s;
  }

  &:hover {
    color: var(--color-grey-dark-2);

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s ease-in-out infinite;
  }
}

@keyframes pulsate {
  0%,
  to {
    transform: scale(1);
    box-shadow: none;
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }
}

.paragraph {
  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

.list {
  list-style: none;
  margin: 3rem 0;
  padding: 3rem 0;
  border-top: 1px solid var(--color-grey-light-2);
  border-bottom: 1px solid var(--color-grey-light-2);

  display: flex;
  flex-wrap: wrap;

  &__item {
    flex: 0 0 50%;
    margin-bottom: 7px;
    display: flex;
    align-items: center;

    &::before {
      content: "";
      display: inline-block;
      width: 1rem;
      height: 1rem;
      margin-right: 0.7rem;

      // 这种方法无法给图标设置颜色
      // background-image: url("../img/chevron-thin-right.svg");
      // background-repeat: no-repeat;
      // background-size: cover;

      background-color: var(--color-primary);
      -webkit-mask-image: url("../img/chevron-thin-right.svg");
      mask-image: url("../img/chevron-thin-right.svg");
      -webkit-mask-size: cover;
      mask-size: cover;
    }
  }
}

.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__photo {
    box-sizing: content-box;
    width: 4rem;
    height: 4rem;
    border: 3px solid #fff;
    border-radius: 50%;

    &:not(:first-child) {
      margin-left: -1.5rem;
    }
  }
}


.review {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  padding: 3rem;
  margin-bottom: 3.5rem;
  overflow: hidden;
  position: relative;

  &::before {
    content: "\201C";
    position: absolute;
    top: -2rem;
    left: -0.5rem;
    font-size: 20rem;
    line-height: 1;
    color: var(--color-grey-light-2);
    z-index: 1;
  }

  &__text {
    margin-bottom: 2rem;
    z-index: 2;
    position: relative;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__photo {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__user-box {
    margin-right: auto;
  }

  &__user-name {
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: 0.4rem;
  }

  &__date {
    font-size: 1rem;
    color: var(--color-grey-light-4);
  }

  &__rating {
    font-size: 2.4rem;
    color: var(--color-primary);
  }
}