.btn {
  // 没被点击以及被点击之后的样式
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    transition: all 0.2s ease-in-out;
    position: relative;
    font-size: $default-font-size;
    // Change for the button element
    border: none;
    cursor: pointer;
  }

  &:hover,
  &:focus {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 1rem 0.5rem rgba($color-black, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s ease-in-out;
  }

  &--white {
    background-color: $color-white;
    color: $color-grey-dark;
    border-radius: 10rem;

    &::after {
      background-color: $color-white;
    }
  }

  &--green {
    background-color: $color-primary;
    color: $color-white;
    border-radius: 10rem;

    &::after {
      background-color: $color-primary;
    }
  }

  &--animated {
    animation: moveInBottom 0.5s 0.75s ease-in-out backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 3px;

    transition: all 0.2s ease-in-out;
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active {
    background-color: $color-primary;
    color: $color-white;
    transform: translateY(-1px);
    box-shadow: 0 1rem 1rem rgba($color-black, 0.2);
  }
}
