.composition {
  position: relative;

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }

  &__photo {
    width: 55%;
    position: absolute;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    z-index: 5;
    transition: all 0.2s ease-in-out;
    outline-offset: 2rem;

    &--p1 {
      top: -2rem;
      left: 0;
    }

    &--p2 {
      top: 2rem;
      right: 0;
    }

    &--p3 {
      top: 10rem;
      left: 20%;
    }

    &:hover {
      outline: $color-primary solid 1.5rem;
      z-index: 20;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.4);
    }
  }
}
