.realtors {
  background-color: $color-secondary;
  grid-column: col-start 7 / -1;
  padding: 3rem;
  
  display: grid;
  justify-content: center;
  align-content: center;
  grid-row-gap: 2rem;

  @media only screen and (max-width: $bp-medium) {
    grid-column: full-start / -1;
  }

  &__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 5vh;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: repeat(3, min-content max-content);
    }

    @media only screen and (max-width: $bp-small) {
      grid-template-columns: min-content max-content;
    }
  }

  &__img {
    display: block;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
  }

  &__text {
    color: $color-grey-light-2;
    margin-top: -3px;
  }

  &__heading {
    justify-self: center;
  }
}
