.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: $color-white;
    position: fixed;
    top: 6rem;
    right: 6rem;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.2);
    z-index: 30;
    text-align: center;
    cursor: pointer;

    @include respond(tab-port) {
      top: 4rem;
      right: 4rem;
    }

    @include respond(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }

  &__background {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    position: fixed;
    top: 6.5rem;
    right: 6.5rem;
    // transform: scale(80);
    z-index: 10;
    transition: all 0.8s ease-in-out;

    @include respond(tab-port) {
      top: 4.5rem;
      right: 4.5rem;
    }

    @include respond(phone) {
      top: 4rem;
      right: 4rem;
    }
  }

  &__nav {
    // width: 100%;
    width: 0;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    // z-index: 20;
    z-index: -1;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.75, 0, 0.25, 1);
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 280%;
      transition: all 0.4s ease-in-out;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translateX(-2rem);
    }

    span {
      margin-right: 1.5rem;
    }
  }

  &__checkbox:checked ~ &__background {
    transform: scale(80);
  }

  &__checkbox:checked ~ &__nav {
    width: 100%;
    opacity: 1;
    z-index: 20;
  }

  &__icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      display: inline-block;
      width: 3rem;
      height: 2px;
      background-color: $color-grey-dark;
    }

    &::before {
      content: "";
      overflow: hidden;
      position: absolute;
      left: 0;
      top: -0.8rem;
      transition: all 0.2s;
    }

    &::after {
      content: "";
      overflow: hidden;
      position: absolute;
      left: 0;
      top: 0.8rem;
      transition: all 0.2s;
    }
  }

  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  &__checkbox:checked + &__button &__icon {
    background-color: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    top: 0;
    transform: rotateZ(135deg);
  }

  &__checkbox:checked + &__button &__icon::after {
    top: 0;
    transform: rotateZ(-135deg);
  }
}
