.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 40;
  background-color: rgba($color-black, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &:target {
    opacity: 1;
    visibility: visible
  }

  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
  }

  &__content {
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    background-color: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    overflow: hidden;
    display: table;

    transition: all 0.5s;
  }

  &__left {
    width: 33.33333%;
    display: table-cell;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__right {
    width: 66.66667%;
    padding: 0 10rem;
    display: table-cell;
    vertical-align: middle;
    position: relative;
  }

  &__text {
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1PX solid $color-grey-light-2;
    hyphens: auto;
  }

  &__close {
    position: absolute;
    top: 1rem;
    right: 3rem;
    font-size: 3rem;
    color: $color-grey-dark-3;
    text-decoration: none;
  }
 
}
